@model Cv.Models.Entiity.tblAducation
@{
    ViewBag.Title = "VeriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Egitim", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Id)
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.SubTitle)
        @Html.TextBoxFor(m => m.SubTitle, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Departmet)
        @Html.TextBoxFor(m => m.Departmet, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.Gpa)
        @Html.TextBoxFor(m => m.Gpa, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Güncelle</button>

    </div>
}

